<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

<h1 style="color:red;text-align:center"> Employee Report</h1>

  <div th:if="${!pageData.empty}">
  <table align="center" border="1" bgcolor="red">
  <tr bgcolor="cyan">
  <tr>
  <th>empno</th>
  <th>empname</th>
  <th>job</th>
  <th>salary</th>
  <th>deptno</th>
  <th>oparations</th>
  </tr>

 <tr th:each="emp:${pageData}" bgcolor="cyen">
  
<td> <span th:text="${emp.empno}"/></td>
<td><span th:text="${emp.empname}"/></td>
<td><span th:text="${emp.job}"/></td>
<td><span th:text="${emp.sal}"/></td>
<td><span th:text="${emp.deptno}"/></td>
<td><a th:href="@{/employee/edit(no=${emp.empno})}"><img th:src="@{/images/edit.jpg}" width="30px" height="40px"></a>&nbsp;&nbsp;
<a  onclick="return confirm('are you sure delete??')" th:href="@{/employee/delete(no=${emp.empno})}"><img th:src="@{/images/delete.png}" width="30px" height="40px"></a>

  </tr>

  </table>
  
  
  
  <center>
  <span th:if="${!pageData.isFirst()}">
  <a th:href="@{/employee/report(page=0)}">first</a>&nbsp;&nbsp;
  </span>
  
  
  <span th:if="${!pageData.isLast()}">
  <a th:href="@{/employee/report(page=${pageData.getPageable().getPageNumber()+1})}">next</a>
  </span>

  
  <span th:each="i:${#numbers.sequence(0,pageData.getTotalPages()-1)}">
 [<a th:href="@{/employee/report(page=${i})}" th:text="${i+1}"></a>]
  </span>
  
  
  <span th:if="${!pageData.isFirst()}">
    <a th:href="@{/employee/report(page=${pageData.getPageable().getPageNumber()-1})}">previous</a>&nbsp;&nbsp;
   </span>
   
   <span th:if="${pageData.isLast()}">
   
   <a th:href="@{/employee/report(page=${ pageData.getTotalPages()-1})}">last</a>
   </span>
   
   
   <center>
  <a th:href="@{/employee/register}">
    Add Employee&nbsp;
    <img th:src="@{/images/add.png}" width="30px" height="40px" >
    ADD EMPLOYEE
  </a>
</center>
<br><br>

<center>
  <a th:href="@{/employee/home}">
    HOME&nbsp;
    <img th:src="@{/images/home.jpg}" width="200" height="150" alt="Home Icon">
  </a>
</center>
  
  </center>
  
  
  <div th:if="${pageData.empty}">
  <h1 style="color:red; text-align:center;">no data found</h1>





